
    .cardnoti {
      background: white;
      padding: 25px;
      width: 380px;
      border-radius: 12px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }
.radio-group .options {
  background: rgba(66, 65, 65, 0.145);
  padding: 10px 10px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
    h2 {
      text-align: center;
      margin-bottom: 15px;
    }

    .input {
      width: 95%;
      padding: 10px;
      margin-bottom: 12px;
      border-radius: 8px;
      border: 1px solid #ddd;
      font-size: 14px;
    }

    textarea {
      resize: none;
      height: 80px;
    }

    button {
      padding: 10px;
      border: none;
      border-radius: 8px;
      background: #111827;
      color: white;
      font-size: 14px;
      cursor: pointer;
      transition: 0.3s;
    }

    .success {
      text-align: center;
      color: green;
      font-size: 14px;
      margin-top: 10px;
      display: none;
    }


    /* Popup Background */
.popup-modal{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
    padding:20px;
}

/* Popup Box */
.popup-content{
    background:white;
    padding:30px;
    border-radius:12px;
    width:420px;
    max-width:90%;
    text-align:center;
    position:relative;
    animation:popupAnim 0.4s ease;
    box-shadow:0 10px 35px rgba(0,0,0,0.25);
}

/* Heading */
.popup-content h2{
    margin-bottom:15px;
}

/* Notification box */
.popup-notice{
    text-align:left;
    margin-top:20px;
    padding-left: 10px;
    background:#f5f5f5;
    padding:20px;
    border-radius:8px;
}
.popup-notice li{
  text-decoration: none;
}
.popup-notice h3{
margin-bottom: 10px;
}

/* Button */
.popup-btn{
    margin-top:20px;
    padding:10px 25px;
    border:none;
    background:#007bff;
    color:white;
    border-radius:25px;
    cursor:pointer;
}

.popup-btn:hover{
    background:#0056b3;
}

/* Close Button */
.close-btn{
    position:absolute;
    top:10px;
    right:12px;
    cursor:pointer;
}

.close-btn ion-icon{
    font-size:28px;
    color:#b41818;
}

/* Popup Animation */
@keyframes popupAnim{
    from{
        transform:scale(0.8);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}